.topo{
    margin-top: 20px;
}
.margin{
    margin-right: 10px !important;
}

.botaoCadPostFinalizar{
    background-color: #004B24 !important;
}
.botaoCadPostCancelar{
    background-color: #ffa734 !important;
}

