@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.text-decorator-none {
    text-decoration: none;
}

.imagem {

    background-image: url(https://images-ext-2.discordapp.net/external/JlKl9I3nkEo52SNhcjotWMpndHBpNw879N_pBkVRUSU/https/i.imgur.com/KugG9uO.png);
    background-repeat: no-repeat;
    width: 80vh;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
    margin-left: 130px;
}

.textos1 {
    font-weight: bold !important;
    color: #ffa734 !important;
}

.textos2 {
    color: white !important;
}

.testeCOR {
    border: none !important;
    border-bottom: 1px solid #3a0515 !important;
}

input {
    border-radius: 5px !important;
    border: 1px solid #333 !important;
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
    height: 30px !important;
    width: 100vh !important;
    outline-style: none !important;
}
.botaoLOGIN { 
    background-color: #ffa734 !important;
    color: white !important;
}
.textoENTRAR{
    color: white !important;
    font-family: 'Fredericka the Great', cursive !important;
}


