.caixa {
    background-color: #ccffc6;
}

.titulo {
    color: white !important;
    font-weight: bold !important;
}

.botao {
    border-color: white !important; 
    background-color: #3F51B5;
    color: white !important;
}

.postagem {
    background-color: white;
}