.box1 {
    background-color: #ffa734 !important;
}

.redes {
    font-size: 40px !important;
    color: white;
}

.textos {
    color: white;
}

a {
    text-decoration: none;
}

.grid1 {
    display: flex table-row;
    flex-flow: row wrap;
}