@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.imagem2{
    background-image: url(https://i.imgur.com/aMth78L.png);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    margin-left: 80px;
}

.text-decorator-none{
    text-decoration: none;
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
    background-color: #ffa734 !important;
    color: white !important;
}
.btnCadastrar{
    margin-right: 20px !important;
    background-color: #004B24 !important;
    color: white !important;
    border-color: white !important;
}
.textosCAD{
    color: white !important;
    font-family: 'Fredericka the Great', cursive !important;
}
.radioGroupCadastroUsuario{
    color: white !important;
}